name: "Release on Tag"

on:
  workflow_run:
    workflows: ["Bump Tag Version"]
    types: 
      - completed
  push:
    tags:
      - "v*"

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: Get Version
        id: version
        run: echo "TAG=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_OUTPUT
      - uses: "marvinpinto/action-automatic-releases@v1.2.1"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "release-${{ steps.version.outputs.TAG }}"
          prerelease: false
          title: "Release ${{ steps.version.outputs.TAG }}"


        # files: |
        # LICENSE.txt
        # *.jar
