
name: Bump Tag Version
on:
  workflow_run:
    workflows: ["Run All Tests"]
    types: 
      - completed
  push:
    branches:
      - main

  # pull_request:
  #   types:
  #     - closed
  #   branches:
  #     - master


jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.sha }} # required for better experience using pre-releases
        fetch-depth: '10'

    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.65.0 # Don't use @master or @v1 unless you're happy to test the latest version
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # if you don't want to set write permissions use a PAT token
        WITH_V: true
        DEFAULT_BUMP: none
        INITIAL_VERSION: 0.0.1
